:root{
    --funtePrincipal: 'Times New Roman', Times, serif;
    --colorPrincipal: #7dbce6;
}

html{
    font-family:var(--funtePrincipal);
    background-color:var(--colorPrincipal);
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    text-align:center;
    justify-content: center;
    margin: 10rem 10rem;
    font-size: 2rem;
}


.container {
    text-align: justify;
}

.container h1, .container p{
    text-align: center;
    font-size: 4rem;
    line-height: 1;
}

.container a{
    text-align: center;
    justify-content: center;
}